<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GreenPadMvvm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="GreenPadMvvm.Properties.Settings.GreenPadConnectionString"
            connectionString="Data Source=lambda;Initial Catalog=GreenPad;Persist Security Info=True;User ID=sa;Password=*s230xhk"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <applicationSettings>
        <GreenPadMvvm.Properties.Settings>
            <setting name="DatabaseServerAddress" serializeAs="String">
                <value>192.168.18.1</value>
            </setting>
            <setting name="DatabaseServerDatabaseName" serializeAs="String">
                <value>GreenPad</value>
            </setting>
            <setting name="DatabaseServerUserId" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="DatabaseServerPassword" serializeAs="String">
                <value>*s230xhk</value>
            </setting>
        </GreenPadMvvm.Properties.Settings>
    </applicationSettings>
</configuration>